{{chat-nav-bar}}
<div class="row-fluid" style="max-height: 95vh">
    <div class="col-md-2">
        {{irc-contexts}}
    </div>
    <div class="col-md-8">
        {{irc-channeltopic}}
        {{irc-buffer}}
        {{irc-input}}
    </div>
    <div class="col-md-2">
        {{irc-userlist}}
    </div>
</div>
{{outlet}}
